/*Navigation Bar*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  font-family:"Arial Narrow";
  background-color: #f2f2f2;
  background-image: url("../images/images.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.indexBody {
  animation: fadeIn 2s;
  }

.navBar {
    height:10%;
    text-align:right;
    width:100%;
    background-color: #f2f2f2;
  }

.logo {
  float: left;
  margin-left: 5%;
  margin-top: 4.3mm;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 150%;

}  
.navBar > ul > li {
    display:inline;
  }
.navBar > ul > li > a
  {
    color:#000000;
    display:inline-block;
    height:60px;
    line-height:60px;
    margin:0px;
    margin-left: 8%;
    padding:0px 15px;
    text-decoration:none;
    transition: color 0.2s ease-in;
    font-family: 'Tilt Neon', sans-serif;
  }
.navBar > ul > li > a:hover {
    color:#858585;
  }

.navBar > hr {
    background: linear-gradient(to right, transparent 0%, transparent 0%, transparent 40%, #6b6b6b 100%);
    height: 1px; 
    width: 100%;
    border: none;
  }


/*Content*/
.content {
  font-family: 'Quicksand', sans-serif;
  font-size: 300%;
}


.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

/* Button for Home */
.btn-1 {
  transition: all 0.3s ease;
}
.btn-1:hover {
   box-shadow:
   -10px -10px 20px 0px #fff9,
   -6px -6px 5px 0px #fff9,
   10px 10px 20px 0px rgba(0, 0, 0, 0.377),
   6px 6px 5px 0px rgba(0, 0, 0, 0.192);
}

/* References */
.content > .contentRef {
  animation: fadeIn 2s;
}

.Ref {
  font-size: 7vw;
  text-decoration: underline;
}