/*Navigation Bar*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@keyframes fadeOut {
0% {opacity: 1;}
100% {opacity: 0;}
}

@keyframes delayedFade {
0% {opacity: 0;}
50% {opacity: 0;}
100% {opacity: 1;}
}

@keyframes unhov {
0% {opacity: 1;}
100% {opacity: 0.8;}
}
@keyframes hov {
0% {opacity: 0.8;}
100% {opacity: 1;}
}

@keyframes reveal {
0% {
  left: 0;
  width: 0%;
}
50% {
  left: 0;
  width: 100%;
}
100% {
  left: 100%;
  width: 0%;
}
}

.ancBody {
  display: flex;
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  font-size: 2vw;
  font-family: Quicksand;
  text-align: center;
  justify-content: center;
  margin: 5vw;
  margin-top: 0vw;
  font-weight: 400;
}

.ancText {
  font-family: Quicksand;
  position: relative;
  text-align: center;
  display: inline;
}

#ancH1 {
  font-size: 5vw;
}

.ancText span {
  opacity: 0;
  animation: fadeIn 0.0001s linear forwards;
  animation-delay: 1s;
}

.ancText:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #ffffff;
  animation: reveal 0.6s cubic-bezier(0.2, 1, 0.2, 1) forwards;
  animation-delay: 0.8s;
}


.elecBody {
  display: flex;
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  font-size: 2vw;
  font-family: Quicksand;
  text-align: center;
  justify-content: center;
  margin: 5vw;
  margin-top: 0vw;
  font-weight: 400;
}

.elecText {
  font-family: Quicksand;
  position: relative;
  text-align: center;
  display: inline;
  font-size: 5vw;
}

.elecText span {
  opacity: 0;
  animation: fadeIn 0.0001s linear forwards;
  animation-delay: 1s;
}

.elecText:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #ffffff;
  animation: reveal 0.6s cubic-bezier(0.2, 1, 0.2, 1) forwards;
  animation-delay: 0.8s;
}

.indBody {
  display: flex;
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  font-size: 2vw;
  font-family: Quicksand;
  text-align: center;
  justify-content: center;
  margin: 5vw;
  margin-top: 0vw;
  font-weight: 400;
}

.indText {
  font-size: 5vw;
  font-family: Quicksand;
  position: relative;
  text-align: center;
  display: inline;
}

.indText span {
  opacity: 0;
  animation: fadeIn 0.0001s linear forwards;
  animation-delay: 1s;
}

.indText:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #ffffff;
  animation: reveal 0.6s cubic-bezier(0.2, 1, 0.2, 1) forwards;
  animation-delay: 0.8s;
}

.prehisText {
  font-family: Quicksand;
  position: relative;
  text-align: center;
  display: inline;
}

.prehistBody {
  display: flex;
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  font-size: 2vw;
  font-family: Quicksand;
  text-align: center;
  justify-content: center;
  margin: 5vw;
  margin-top: 0;
  font-weight: 400;
}

.prehisText span {
  opacity: 0;
  animation: fadeIn 0.0001s linear forwards;
  animation-delay: 1s;
}

.prehisText:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #ffffff;
  animation: reveal 0.6s cubic-bezier(0.2, 1, 0.2, 1) forwards;
  animation-delay: 0.8s;
}